.card {
  width: 350px;
  height: 530px;
  background-color: blue;
  border: 10px solid white;
  margin: 25px;
}

.image-container {
  display: flex;
  justify-content: flex-end;
}

.character-pic {
  background-color: purple;
  height: 330px;
  width: 350px;
  z-index: 998;
  position: relative;
}

.favorite-btn {
  background-color: transparent;
  position: absolute;
  height: 50px;
  width: 50px;
  z-index: 999;
}

.star {
  margin: 10px 15px 0 0;
}

.card-info {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
}

.character-name {
  text-align: center;
  margin: 5px 0 0 0;
  padding: none;
}

ul {
  list-style: none;
  /* margin: 0; */
  padding: 0;
}
li, h4 {
  color: white;
}

