.card {
  width: 350px;
  height: 510px;
  border: 5px solid #feda4a;
  margin: 25px;
}

.image-container {
  display: flex;
  justify-content: flex-end;
}

.character-pic {
  height: 330px;
  width: 350px;
  z-index: 998;
  position: relative;
}

.favorite-btn {
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  height: 50px;
  width: 50px;
  z-index: 999;
}

.star {
  margin: 10px 15px 0 0;
}

.card-info {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 20px 0 20px;
}

.character-name {
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 1.5rem;
  letter-spacing: 6px;
  text-align: center;
  margin: 10px 0 8px 0;
  padding: none;
}

ul {
  list-style: none;
  margin-top: 0;
  padding: 0;
}

li, h4 {
  color: #feda4a;
  font-size: .85rem;

}

span {
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 1.1rem;
  font-style: italic;
  letter-spacing: 1px;
  text-transform: uppercase;
}


